/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

body {
	background: yellow;
}

.container {
	width: 100%;
	height: 100%;
}

/* Typography */

div, h1, h2, a {
	color: rgba(0,255,0,1);
}

.header h1 {
	margin-top: 80px;
	margin-bottom: 40px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 190px;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

.header h2 {
	width: 90%;
	margin-left: 5%;
	padding-bottom: 80px;
	font-family: 'Alegreya', serif;
	font-size: 70px;
	text-align: center;
	border-bottom: 4px solid rgba(0,255,0,1);
}

.links,
.links a {
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 70px;
	font-weight: 300;
	line-height: 80px;
	text-align: left;
	text-decoration: none;
}

.links a:hover {
	font-size: 72px;
	font-style: italic;
}

.projects h1 {
	margin-bottom: 70px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 100px;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

.projects a,
.projects h2 {
	font-family: 'Alegreya', serif;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

/* IMG */

.old-photo {
	width: 20%;
	position: fixed;
	top: 110px;
	right: 30%;
	z-index: -100;
	box-shadow: 10px 10px 50px rgba(0,0,0,0.8);

}

.gif {
	width: 8%;
	position: fixed;
	bottom: 120px;
	right: 15%;
	z-index: 2;

}

.gif2 {
	width: 36%;
	position: fixed;
	top: 190px;
	left: 10%;
	z-index: -10;

}

/* Header */

.header {
	position: relative;
	width: 100%;
	z-index: -20;
}

.links {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 0;
	padding-bottom: 80px;
	border-bottom: 4px solid rgba(0,255,0,1);
	font-size: 55px;
	z-index: 100;
}

.projects {
	position: relative;
	margin-top: 0;
	padding-top: 100px;
	width: 100%;
	background-color: rgba(255,255,0,0.85);
	z-index: 1000;
	padding-bottom: 200px;
}